<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=main, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/cf7bcb780b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/carro.css">
</head>

<body>

    <header id="navegador">
        <nav id="nav"></nav>
        <a href="/template/index.html"><img id="logo" src="/imagenes/logoanfibio.png" alt="logo"></a>
        <ul class="menu"><a href="/template/index.html">Hogar</a></ul>
        <ul class="menu"><a href="/template/acercade.html">Acerca de</a></ul>
        <ul class="menu"><a href="/template/tienda.html">Tienda</a></ul>
        <ul class="menu"><a href="/template/contacto.html">Contacto</a></ul>
        <ul class="carro"><a href="/template/carro.html"><i class="fa-solid fa-cart-shopping"></i></a></ul>
        </nav>
    </header>

    <header id="navegador2">

        <nav id="nav"></nav>
        <a href="/template/index.html"><img id="logo" src="/imagenes/logoanfibio.png" alt="logo"></a>

     <ul class="carro"><a href="/template/carro.html"><i class="fa-solid fa-cart-shopping"></i></a></ul>
        </nav>
    </header>

    











    <footer id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="anfibio"> Anfibio</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            San Luis 3417, Ciudad Autonoma de Buenos Aires
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="https://wa.me/005491162061070">11-6206-1070</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none"
                                href="mailto:ruydeilerjo@gmail.com">ruydeilerjo@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="infor">Informacion</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="index.html">Hogar</a></li>
                        <li><a class="text-decoration-none" href="about.htmlejemp">Acerca de Nosotros</a></li>
                        <li><a class="text-decoration-none" href="contact.html ejemplo">Tienda</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="prod">Producto</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="index.html">Shord</a></li>
                        <li><a class="text-decoration-none" href="about.htmlejemp">camisa</a></li>
                        <li><a class="text-decoration-none" href="contact.html ejemplo">lentes</a></li>
                        <li><a class="text-decoration-none" href="contact.html ejemplo">otros</a></li>

                    </ul>
                </div>

            </div>

            <div class="Sociales">

                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li>
                            <a class="iconos" target="_blank" href="http://facebook.com/"><i
                                    class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li>
                            <a class="iconos" target="_blank" href="https://www.instagram.com/"><i
                                    class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>

                        <li>
                            <a class="iconos" target="_blank" href="https://www.linkedin.com/"><i
                                    class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Direcccion de Mail</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
                            placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Suscribete</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Compania de Ruydeiler
                            | Diseñado por Ruydeiler Suarez
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <footer id="tempaltemo_footer2">
        <div class="container">
            <header id="navegador2">
                
                <ul class="menu"><a href="/template/index.html"><i class="fa-solid fa-house"></i></a></ul>
                <ul class="menu"><a href="/template/acercade.html"><i class="fa-solid fa-location-dot"></i></a></ul>
                <ul class="menu"><a href="/template/contacto.html"><i class="fa-solid fa-address-card"></i></a></ul>
                <ul class="menu"><a href="/template/tienda.html"><i class="fa-solid fa-cart-flatbed-suitcase"></i></a></ul>

            </header>
        </div>

    </footer>


</body>